/* kZGDrUZHtNb2wV7oTDOTWlyp60RCNHYM */
/* https://api.giphy.com/v1/gifs/trending?api_key=kZGDrUZHtNb2wV7oTDOTWlyp60RCNHYM&limit=10 */

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  /* Светло-серый фон для всего контейнера */
}

/* Стиль для каждого поста */
.post {
  background-color: #bdb6b6; /* Белый фон для каждого поста */
  border: 1px solid #e0e0e0; /* Легкая тень для выделения */
  border-radius: 10px; /* Закругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для объема */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Анимация при наведении */
  max-width: 350px;
  width: 100%;
  margin: 20px;
}

/* Эффект при наведении на пост */
.post:hover {
  transform: translateY(-10px); /* Плавное поднятие */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Увеличение тени */
}

/* Стиль для изображений внутри поста */
.post img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px; /* Закругленные верхние углы */
  border-top-right-radius: 10px;
  overflow: hidden; /* Избегаем выхода за рамки */
}

/* Стиль для заголовков постов */
.post h2 {
  font-size: 1.8em;
  margin: 15px;
  color: #333; /* Темный цвет текста */
  transition: color 0.3s ease; /* Плавный переход цвета */
}

.post:hover h2 {
  color: #007bff; /* Синий цвет текста при наведении */
}

/* Стиль для блока с действиями */
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-top: 1px solid #e0e0e0; /* Граница сверху */
}




/* Стиль для кнопки чтения */
.actions button {
  background-color: #007bff; /* Синий фон для кнопки */
  color: white; /* Белый текст */
  border: none;
  border-radius: 5px; /* Закругленные углы */
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Плавный переход фона */
}

.actions button:hover {
  background-color: #0056b3; /* Темно-синий цвет при наведении */
}


.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.icon,
.iconDel {
  font-size: 1.8rem;
  cursor: pointer;
  color: rgb(131, 83, 83);
  padding: 0 7px;
  font-size: 1.8rem;
  transition: transform 0.3s;
}

.icon:hover,
.iconDel:hover {
  cursor: pointer;
  transform: scale(1.5);
}
.icon:hover {
  color: green;
}

.iconDel:hover {
  color: red;
}
